{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/loginstyle.css' %}">
<h1>Login</h1>
<br/>
<br/>
<form method="POST">
    {% csrf_token %}
    <label for="{{ form.username.id_for_label }}">Username:</label>
    {{ form.username }}
    <br/>
    <label for="{{ form.password.id_for_label }}">Password:</label>
    {{ form.password }}
    <br/>
    <button class="btn btn-success">Login</button>
</form>
<script src="{% static 'js/main.js'%}"></script>
{% endblock %}
